
    <div class="dashboard__orders card">
            <div class="card-table">
            <div class="card-header">
                <h5>Subscription Details</h5>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                   <tr>
                       <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Model No</td>
                       <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{model_no}}</td>
                    </tr>
                   
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription Number</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_no}}</td>
                        
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription Package</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_pkg_name}}</td>
                        
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription Amount</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_amount}}</td>
                        
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Paid Amount</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{paid_amount}}</td>
                        
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Payment Method</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{payment_method}}</td>
                        
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription Start Date</td>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_start_date}}</td>
                         
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription End Date</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_end_date}}</td>
                         <td></td>
                    </tr>
                    <tr>
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">Subscription Duration</td> 
                        <td style="padding: .75rem; vertical-align: top; border-top: 1px solid #e9ecef;">{{sub_duration}} Months</td>
                    </tr>
                   
                   
                </table>
            </div>
        </div>
    </div>

