<div class="block block-features block-features--layout--{{ layout }}">
    <div class="container">
        <div class="block-features__list">
            <div class="post-card__image">
                <a routerLink="./">
                    <img src='assets/images/ads/advert1.gif' alt="">
                </a>
            </div>
            
            <div class="block-features__divider"></div>
             <div class="post-card__image">
                <a routerLink="./">
                    <img src='assets/images/ads/advert1.gif' alt="">
                </a>
            </div>
            <div class="block-features__divider"></div>
             <div class="post-card__image">
                <a routerLink="./">
                    <img src='assets/images/ads/advert1.gif' alt="">
                </a>
            </div>
            <div class="block-features__divider"></div>
             <div class="post-card__image">
                <a routerLink="./">
                    <img src='assets/images/ads/advert1.gif' alt="">
                </a>
            </div>
        </div>
    </div>
</div>
