<!-- .topbar -->
<div class="site-header__topbar topbar">
    <div class="topbar__container container">
        <div class="topbar__row">
            <div class="topbar__spring"></div>
            <div class="topbar__item">
               <div class="site-header__phone">
                    <div class="site-header__phone-number"><i class="footer-contacts__icon fas fa-mobile-alt"></i>
                      <a href="tel:123-456-7890">123-456-7890</a>
                     </div>
                    
               </div>
            </div>
        </div>
    </div>
</div>
<!-- .topbar / end -->